/* Color dinámico para el poder */
.power-text {
  font-weight: 600;
  color: rgb(252, 136, 69);

  &.over9000 {
    color: red;
    animation: glow 1s infinite alternate;
  }
}

/* Efecto sutil si supera 9000 */
@keyframes glow {
  from { text-shadow: 0 0 2px red; }
  to   { text-shadow: 0 0 8px red; }
}
